*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}

body{
    background:  #02000e;
    max-height: 100vh;
}
.app-heading, .para-heading{
    margin-bottom: 20px;
    text-align: center;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color:#fff;
    padding: 35px 30px;
    margin: 100px auto 0 ;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 30px;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border:0;
    outline: 0;
    background:#ebfffc ;
    color:#555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex:1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border:0;
    outline: 0;
    background:#ebfffc ;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 25px;
}

.weather-icon{
    width: 170px;
    margin-top: 25px;
}

.weather h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}


.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 45px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;

}